<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>score</servlet-name>
        <servlet-class>servlet.ScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ranking</servlet-name>
        <servlet-class>servlet.ScoreRankingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>score</servlet-name>
        <url-pattern>/api/score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ranking</servlet-name>
        <url-pattern>/api/ranking</url-pattern>
    </servlet-mapping>

</web-app>